<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布帖子</title>
</head>
<body>
    <form action="/createre" method="post">
        <div>帖子ID</div>
        <input type="text" name="postid"><br>
        <div>内容</div>
        <input type="text" name="content"><br>
        <div>引用</div>
        <input type="text" name="reference"><br>
        <div>作者</div>
        <input type="text" name="authorid"><br>
        <input type="submit" name="create" value="发布">
    </form>
</body>
</html>